.title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  color: rgb(228, 54, 54);
  border: 1px solid black;
  width: 300px;
  margin: auto;
}

.list{
  display: block;
}

.listItem{
  border: 2px solid black;
  margin: 3px;
  height: 130px;
  background-color: rgba(190, 190, 190, 0.8);

}

.itemImg{
  height: 120px;
  margin: 3px;
}

.listItem1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.deleteButton{
  position: relative;
  float: right;
}