

.container {
    margin:auto;
    width: 70vw;
   
   
}

.locations {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom:50px;
    margin: auto;
    justify-content: space-around;
    
}
.location{
   
    background-color: rgba(254, 254, 255, 0.788);
    color: rgb(3, 3, 3);
    width: 400px;
    margin: auto;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 40px;
    padding-left: 3px;
    padding-right: 3px;
    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    height: 550px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 20px 1px #000000; 
box-shadow: 0px 5px 20px 1px #000000;

}

.location img {
    height: auto;
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}
.location button {
    box-shadow:inset 0px 1px 6px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:42px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    
    
}

.location button:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}

.location button:active {
    position:relative;
	top:1px;
}

.buttonDiv {
    display: flex;
}

.buttonP{
    margin: 10px;
}


.searchBar {
     padding: 8px;
     font-size: 35px;
     border-width: 2px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: hidden;
     border-radius: 10px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.59);
     text-shadow: 1px 0px 5px rgba(66,66,66,.74);
    width: 600px;
   
}

.searchBar:focus  {
     outline:none;
}
.searchFormContainer {
    margin:auto;
    width: 700px;
   
    
}

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm button {
    color: rgb(38, 0, 255);
    font-size: 20px;
    background-image: url('../image/hotDogButton.png');
    background-size:contain;
    height: 50px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
}

.dropDown {
    display: inline;
}

.ratingAndCountP {
    font-size: 20px;
    display: flex;
    
}
.ratingAndCountP p {
    margin-left: 35px;
    margin-right: 35px;
    
}

.ratingAndCountP label {
    font-weight: 800;
} 


.select {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        display: inline-block;
        width: 33%;
        cursor: pointer;
        padding: 11px 18px;
        outline: 0;
        border: 2px solid #228cee;
        border-radius: 10px;
        background: #ffffff;
        color: #ee2525;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
         .select::-ms-expand {
            display: none;
        }
         .select:hover {
            color: #db1d1d;
            background: #b8e5f3;
        }
         .select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }

.spinner {
    justify-content: center;

    align-items: center;
    margin: auto;
    width: 500px;
}